.layout {
  padding: 10px 10px;
  margin: 3px 10px;
  letter-spacing: 0px;
}

.link-wrapper {
  position: relative;
  margin: 0.5rem 15px 1rem 20px;
  background-color: #f9f9f9;
  border: 1px solid #edf9ff;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
}
.link-title {
  margin-top: 0px;
  color: #409eff;
}
.link-wrapper__title {
  z-index: 1;
  display: inline-block;
  position: relative;
  left: -20px;
  background: #409eff;
  color: #fff;
  height: 28px;
  line-height: 28px;
  padding: 0 15px 4px 20px;
}

.link-wrapper__title::after {
  content: " ";
  display: block;
  position: absolute;
  top: 32px;
  left: 0;
  border-right: 10px solid #193d61;
  border-bottom: 10px dashed transparent;
}

.card {
  border: 1px solid #e6e8ec;
  background-color: #fff;
  color: #303133;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.links {
  width: 100%;
  margin: 0;
  margin-left: 10px;
}
.link-item {
  padding: 10px 10px;
  margin: 5px 8px;
  display: inline-block;
}

.link-item a {
  color: #515151;
}
