.App {
  padding: 0;
  margin: 0;
}

#layout {
  padding-left: 300px;
  position: relative;
}

#menu {
  margin-left: -300px;
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: #11172f;
  overflow-y: auto;
}
#main {
  padding: 10px;
  background: #edeff8;
}
