.App {
  padding: 10px 30px;
  background: #c0c0aa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cefff,
    #c0c0aa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cefff,
    #c0c0aa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
